output/data/undirected_global/node_1.txt
output/data/undirected_global/node_2.txt
output/data/undirected_global/node_3.txt
output/data/undirected_global/node_4.txt
output/data/undirected_global/node_5.txt
output/data/undirected_global/node_6.txt
